[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
build = "*"
wheel = "*"

[packages]
ninjarmmpy = {editable = true, path = "."}
requests = ">=2.23.0"

[requires]
